name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./node_server

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: node_server/package-lock.json
        
    - name: Install Dependencies
      run: npm ci

    - name: Build
      run: npm run build --if-present
      # Note: 'test' script fails in current package.json, so skipping npm test for now.
